<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss.SSS 'GMT'Z} %c{1} [%t] - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="DAILY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>/logs/user-manager/user-manager.log</File>
        <append>true</append>
        <encoder>
            <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss.SSS 'GMT'Z} %c{1} [%t] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>10</maxHistory>
            <!-- daily rollover -->
            <fileNamePattern>/logs/user-manager/user-manager.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Custom ones -->
    <logger name="com.biit.usermanager.logger.EncryptorLogger" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.usermanager.logger.UserManagerLogger" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.usermanager.logger.FrontendLogger" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.usermanager.logger.BasicLogger" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.usermanager.logger.RestAccessLogging" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.server.logger.RestServerLogger" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.usermanager.logger.RestServerExceptionLogger" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.server.logger.RestServerExceptionLogger" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.server.logger.LoggedException" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.server.client.logger.RestServerClientLogger" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.server.logger.JwtFilterLogger" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.usermanager.persistence.logger.CacheEventLogger" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.usermanager.logger.AuthenticationServiceLogger" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.server.logger.DtoControllerLogger" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Default ones -->
    <logger name="org.springframework" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" additivity="false"
            level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate" additivity="false"
            level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="springfox.documentation.spring.web.plugins.DocumentationPluginsBootstrapper" additivity="false"
            level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="springfox.documentation.spring.web.readers.operation.CachingOperationNameGenerator" additivity="false"
            level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="springfox.documentation.spring.web.PropertySourcedRequestMappingHandlerMapping" additivity="false"
            level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="springfox.documentation.spring.web.PropertySourcedRequestMappingHandlerMapping" additivity="false"
            level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.boot.web.embedded.tomcat.TomcatWebServer" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>