<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="UserManager">

    <listeners>
        <listener class-name="com.biit.usermanager.rest.logger.TestListener"/>
    </listeners>

    <test name="UserManager" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="userRoleTests"/>
                <include name="userTests"/>
                <include name="userExternalReferenceTests"/>
                <include name="userCreation"/>
                <!-- has problems on jenkins -->
                <exclude name="forgotPasswordTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.usermanager.rest.tests.UserTests"/>
            <class name="com.biit.usermanager.rest.tests.UserExternalReferenceTests"/>
            <class name="com.biit.usermanager.rest.tests.UserRoleTests"/>
            <class name="com.biit.usermanager.rest.tests.FirstUserCreationTest"/>
            <class name="com.biit.usermanager.rest.tests.ForgotPasswordTests"/>
        </classes>
    </test>
</suite>
