<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="UserManager">

    <listeners>
        <listener class-name="com.biit.usermanager.rest.logger.TestListener"/>
    </listeners>

    <test name="UserManager" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="UserRoleTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.usermanager.rest.tests.UserRoleTests"/>
        </classes>
    </test>
</suite>
