<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="UserManager">
    <test name="UserManager" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="passwordTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.usermanager.core.PasswordTests"/>
        </classes>
    </test>
</suite>
