<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="UserManager">
    <listeners>
        <listener class-name="com.biit.usermanager.logger.TestListener"/>
    </listeners>

    <test name="UserManager" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="passwordTests"/>
                <include name="roleTests"/>
                <include name="userGroupTests"/>
                <include name="teamTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.usermanager.core.PasswordTests"/>
            <class name="com.biit.usermanager.core.RoleTests"/>
            <class name="com.biit.usermanager.core.UserGroupTests"/>
            <class name="com.biit.usermanager.core.TeamTests"/>
        </classes>
    </test>
</suite>
