<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="UserManager">
    <test name="UserManager" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="authenticationTests"/>
                <include name="authorizationTests"/>
                <include name="activitiesTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.usermanager.security.AuthenticationTests"/>
            <class name="com.biit.usermanager.security.AuthorizationTests"/>
            <class name="com.biit.usermanager.security.RoleActivitiesTest"/>
        </classes>
    </test>
</suite>
