<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="UserManager">
    <test name="UserManager" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="userRepository"/>
                <include name="roleRepository"/>
                <include name="organizationRepository"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.usermanager.persistence.repositories.UserRepositoryTests"/>
            <class name="com.biit.usermanager.persistence.repositories.UserNotDisableTest"/>
            <class name="com.biit.usermanager.persistence.repositories.UserRoleTest"/>
            <class name="com.biit.usermanager.persistence.repositories.OrganizationRepositoryTest"></class>
        </classes>
    </test>
</suite>
